.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    position: sticky;
    height: 30px;
    padding: 10px 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    height: 60px;
    top: 0;
}

.topnav a:hover {
    text-decoration-line: underline;
}

.nav-left {
    margin: 0px 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#searchInput {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 20px;
    width: 500px;
    height: 10px;
    border-style: hidden;
    display: block;
    margin: 0 auto;
}

.search:hover #searchInput {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

#searchInput:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    outline: none;

}

.boxbox {
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.box {
    background-color: #F8F9FA;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #F8F9FA;

}
.box:hover {
    border-color: #DADCE0;

}


#container {
position: absolute;
top: 60px;
right: 10px;
display: none;
grid-template-columns: auto auto auto;
background-color: #F8FAFD;
padding: 40px;
width: auto;
height: auto;
border-radius: 35px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
z-index: 1000;
}


.icon {
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 30px;
    height: 30px;

}

.icon:hover {
    background-color: #E9EEF6;
}

.bento {
    border-radius: 50% ;
    background-color: #FFFFFF;
    border-style: none;
    padding: 10px;
}

.bento:hover {
    background-color: #E2E3E2;
    border-radius: 50% ;
}

/*///////////////icons////////////////*/
.icon-bento {
    width: 24px;
    height: 24px;
    background-color: black;
    mask: url("../icons/bento-menu.svg") no-repeat center;
    -webkit-mask: url("../icons/bento-menu.svg") no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
}
